.PaitentCareCon {
  width: 100%;
  height: 550px;
  display: flex;

  background-image: linear-gradient(
    81deg,
    #e7f0ff 9.01%,
    rgba(232, 241, 255, 0.47) 89.11%
  );
  padding: 5% 10% 5% 10%;
  gap: 20px;
}
.PaitentCareImgCon {
  width: 50%;
  position: relative;
}
.PaitentCareImg1 {
  position: absolute;
  right: 0;
  top: 0;
}
.PaitentCareImg1 img {
  width: 332px;
  height: 275px;
}
.PaitentCareImg2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.PaitentCareImg2 img {
  width: 332px;
  height: 275px;
}
.PaitentCareDetailsCon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.PaitentCareHead {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0;
  text-align: left;
  color: #2aa7ff;
}
.PaitentCareMainHead {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  text-align: left;
  color: #1b3c74;
}
.PaitentCareMainHead span {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  text-align: left;
  color: #2aa7ff;
}

.PaitentCareMainPara {
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  text-align: left;
  color: #77829d;
  margin-top: 20px;
}
.PaitentCarePara {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #1b3c74;
}
.PaitentCareBottomcon {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}
@media screen and (max-width: 960px) {
  .PaitentCareCon {
    flex-direction: column;
    height: auto;
  }
  .PaitentCareImgCon {
    display: none;
  }
  .PaitentCareDetailsCon {
    width: 100%;
  }

  .PaitentCareImg2 {
    position: absolute;
    bottom: 0;
    left: 20%;
  }
  .PaitentCareImg1 {
    position: absolute;
    right: 20%;
    top: 0;
  }
  .PaitentCareImg2 img {
    height: 200px;
    width: 220px;
  }
  .PaitentCareImg1 img {
    height: 200px;
    width: 220px;
  }
}
